body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#controls {
    margin-bottom: 20px;
}

#farver button {
    width: 30px;
    height: 30px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

#monster-boks {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 5px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #000;
}
